
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="recipes">Recipes</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="shopping-list">Shopping List</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle cursor-pointer" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu drop-head">
                        <li><a class="cursor-pointer">Save Data</a></li>
                        <li><a class="cursor-pointer">Fetch Data</a></li>
                    </ul>  
            </li>
                
        </ul>
    </div>
</nav>
