<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <recipe-list-component></recipe-list-component>
        </div>
        <div class="col-sm-7">
           <!-- <recipe-detail-component *ngIf="selectedRecipe; else infotext" [recipe]="selectedRecipe"></recipe-detail-component>
           <ng-template #infotext>
                <p>Please select recipe</p>
           </ng-template> -->
           <router-outlet></router-outlet>
        </div> 
    </div>
</div>
