<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
            <div class="col-sm-8 col-8 float-left">
                <h4 class="list-group-item-heading">
                   {{recipe.name}}
                </h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
                <span class="col-sm-4 col-4 float-left">
                    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" style="max-height: 150px">
                </span>

            
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>