/* You can add global styles to this file, and also import other style files */
button:disabled {
    cursor: not-allowed;
}
.show .dropdown-menu {
    display: block;
}
.dropdown-menu li a {
padding-left: 10px;
}
 a:hover {
   text-decoration: none;
}
.drop-head {
    left: auto;
    right: 0;
}
.cursor-pointer {
    cursor: pointer;
}